<div class="navbar">
    <div class="nav-left">
      <a routerLink="/mainIndex" class="nav-link">GRAPH-TRAVERSAL</a>
    </div>
    <div class="nav-right">
      <div class="div-new">
        <a routerLink="/dfsPage" class="btn btn-dark">DFS</a>
        <a routerLink="/bfsPage" class="btn btn-dark">BFS</a>
      </div>
      <div class="nav-items">
        <a routerLink="/aboutUs" class="btn btn-dark" [class.active]="isActive('/aboutUs')">About Us</a>
        <a routerLink="/faq" class="btn btn-dark" [class.active]="isActive('/faq')">FAQ</a>
        <a routerLink="/quiz" class="btn btn-dark" [class.active]="isActive('/quiz')">Quiz</a>
        <a routerLink="/real-world" class="btn btn-dark" [class.active]="isActive('/real-world')">Real World Graph Scenario</a>
        <a routerLink="/questions" class="btn btn-dark" [class.active]="isActive('/questions')">Questions</a>
        <a routerLink="/resources" class="btn btn-dark" [class.active]="isActive('/resources')">Resources</a>
        <a routerLink="/contactUs" class="btn btn-dark" [class.active]="isActive('/contactUs')">Contact Us</a>
        <a routerLink="/contributors" class="btn btn-dark" [class.active]="isActive('/contributors')">Contributors</a>
        <a routerLink="/" class="btn btn-danger" (click)="onLogout()">Logout</a>
      </div>
    </div>
  </div>
  
  <!-- Embedded Chatbot -->
  <script>
    window.embeddedChatbotConfig = {
      chatbotId: "oA_rXZ5BFgXbM-YwcC0vx",
      domain: "www.chatbase.co"
    };
  </script>
  <script src="https://www.chatbase.co/embed.min.js" chatbotId="oA_rXZ5BFgXbM-YwcC0vx" domain="www.chatbase.co" defer></script>
  