body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-left p {
  margin: 0;
  font-size: 1.5rem;
 
}

.nav-left a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.div-new {
  display: flex;
  gap: 1rem;
}

.nav-items {
  display: flex;
  gap: 1rem;
}

.nav-items a,
.div-new a {
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

/* Hover Effect */
.nav-items a:hover,
.div-new a:hover {
  background-color: white;
  color: #333;
}

/* Active Link Highlighting */
.nav-items a.active {
  background-color: white;
  color: #333;
  font-weight: bold;
}

/* Logout Button Styles */
.nav-items a.btn-danger {
  background-color: #d9534f;
}

.nav-items a.btn-danger:hover {
  background-color: #c9302c;
}
