<div class="navbar">
    <div class="nav-left">
        <!--
        <div class="logo">
            <img src='a.png' alt="Logo"
            style="height: 70px; width: 75px; border-radius: 50%; margin-right: 10px;"/>
        </div>-->
        <p>GRAPH-TRAVERSAL</p>
    </div>

    <div class="nav-right">
        <div class="div-new">
            <a href="/dfsPage" class="btn btn-dark">DFS</a>
            <a href="/bfsPage" class="btn btn-dark">BFS</a>
        </div>

        <!-- Profile Section with Dropdown -->
        <div class="profile-dropdown">
            <img src="https://as1.ftcdn.net/v2/jpg/07/77/92/08/1000_F_777920887_JNV7hglZmyROgiZjGb6x9DP4Qfu5gyg0.jpg"
                alt="Profile" class="profile-img" (click)="toggleDropdown()">
            <div class="dropdown-content" [class.show]="isDropdownOpen">
                <a href="/mainIndex" class="dropdown-item">Home</a>
                <a href="/n-queen-visualizer" class="dropdown-item btn btn-dark">N Queen Visualizer</a>
                <a href="/aboutUs" class="dropdown-item btn btn-dark me-3">About Us</a>
                <a href="/faq" class="dropdown-item btn btn-dark me-3">FAQ</a>
                <a href="/quiz" class="dropdown-item btn btn-dark me-3">Quiz</a>
                <a href="/real-world" class="dropdown-item btn btn-dark me-3">Real World Graph Scenario</a>
                <a href="/questions" class="dropdown-item btn btn-dark me-3">Questions</a>
                <a href="/resources" class="dropdown-item btn btn-dark me-3">Resources</a>
                <a href="/contactUs" class="dropdown-item btn btn-dark me-3">ContactUs</a>
                <a href="/contributors" class="dropdown-item btn btn-dark me-3">Contributors</a>
                <a href="/editor" class="dropdown-item btn btn-dark me-3">Text Editor</a>
                <a href="/review" class="dropdown-item btn btn-dark me-3">Reviews</a>
                <a href="/algo-compare" class="dropdown-item btn btn-dark me-3">Algo Compare</a>
                <a href="/" (click)="onLogout()" class="dropdown-item">Logout</a>
            </div>
        </div>
    </div>

    <script>
        function toggleDropdown() {
            const dropdown = document.getElementById('dropdown-menu');
            dropdown.classList.toggle('show');
        }

        function onLogout() {
            alert('Logged out successfully!');
            // Add your logout logic here
        }
    </script>
    <script>
        window.embeddedChatbotConfig = {
            chatbotId:"L51AYDMWE0tDQxPXKTgeX",
            domain: "www.chatbase.co"
        };
    </script>
    <script src="https://www.chatbase.co/embed.min.js" chatbotId="L51AYDMWE0tDQxPXKTgeX" domain="www.chatbase.co"
        defer></script>


</div>
