<div class="navbar">
    <div class="nav-left">
        <p>GRAPH-TRAVERSAL</p>
    </div>
    <div style="display: flex;">
        <div class="div-new">
            <a href="/dfsPage" class="btn btn-dark me-3">DFS</a>
            <a href="/bfsPage" class="btn btn-dark me-3">BFS</a>
        </div>
        <!-- Profile Section with Dropdown -->
        <div class="profile-dropdown">
            <img src="https://as1.ftcdn.net/v2/jpg/07/77/92/08/1000_F_777920887_JNV7hglZmyROgiZjGb6x9DP4Qfu5gyg0.jpg"
                alt="Profile" class="profile-img" (click)="toggleDropdown()">
            <div class="dropdown-content" [class.show]="isDropdownOpen">
                <a href="/mainIndex" class="dropdown-item">Home</a>
                <a href="/aboutUs" class="dropdown-item btn btn-dark me-3">About Us</a>
                <a href="/faq" class="dropdown-item btn btn-dark me-3">FAQ</a>
                <a href="/quiz" class="dropdown-item btn btn-dark me-3">Quiz</a>
                <a href="/real-world" class="dropdown-item btn btn-dark me-3">Real World Graph Scenario</a>
                <a href="/questions" class="dropdown-item btn btn-dark me-3">Questions</a>
                <a href="/" (click)="onLogout()" class="dropdown-item">Logout</a>
            </div>
        </div>
    </div>
    <script>
        window.embeddedChatbotConfig = {
        chatbotId: "oA_rXZ5BFgXbM-YwcC0vx",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="oA_rXZ5BFgXbM-YwcC0vx"
        domain="www.chatbase.co"
        defer>
        </script>
</div>