body {
  background-color: white; /* Change background to white */
  color: black; /* Change text color to black */
}

.contributors-container {
  max-width: 100%;
  margin: 56px auto;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
  background-color: #f8f9fa; /* Light grey background for the container */
  margin-top: 6rem;
}

.text-center {
  text-align: center;
  color: black; /* Change header text color to black */
  margin-bottom: 2rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.loader {
  border: 8px solid #e0e0e0; /* Change the loader's base color */
  border-top: 8px solid #3498db; /* Keep the top color blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.contributor-subContainer {
  width: 60%;
  margin: 0 auto;
}

.contributor-card {
  display: flex;
  align-items: center;
  background-color: white; /* Keep card background white */
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Light shadow */
  margin-bottom: 1rem;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s, border 0.3s;
}

.contributor-card:hover {
  border: 2px solid #3498db; /* Change border color on hover */
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contributor-details {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.contributor-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.contributor-info h2 {
  font-size: 1.25rem;
  color: black; /* Keep contributor name in black */
  margin: 0;
}

.contribution {
  color: #2e8b57; /* Change contribution text color to a darker green */
  font-weight: bold;
  text-align: right;
  margin-left: auto;
}
