


body {
font-family: Arial, sans-serif;  
  /* max-width: 800px; */
  width: 100vw;
  margin:auto 0;
  display:flex;
  margin-top:30px
}

.faq{
  width: 800px;
  margin-top: 5rem !important;
}
/*start styles*/
.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.accordion__item {
    border: 2px solid #cad8df;
    border-radius: 10px;
    overflow: hidden;
}

.accordion__header {
padding: 20px 25px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}

.accordion__header::after {
    content: '';
    background: url(https://www.svgrepo.com/show/357035/angle-down.svg) no-repeat center;
    width: 20px;
    height: 20px;
    transition: .4s;
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 1;
}

.accordion__header.active {
    background: #e5f3fa;
}

.accordion__header.active::after {
    transform: rotateX(180deg);
}

.accordion__item .accordion__content {
    padding: 0;
    max-height: 0;
    transition: .5s;
    overflow: hidden;
}

p{
  padding: 25px;
}
