<app-navbar></app-navbar>
<section class="faq">
    <h1>Frequently Asked Questions</h1>
    <input type="text" placeholder="Search FAQs..." class="faq-search" (input)="filterFAQs($event)">
    <button class="toggle-all" (click)="toggleAll()">Toggle All</button>
    <div class="accordion">
        <div class="accordion__item" *ngFor="let faq of filteredFaqs" id="faq{{ faq.id }}">
            <div class="accordion__header" (click)="toggle(faq.id)" [attr.aria-expanded]="faq.isOpen">
                <span class="question-icon">?</span> <!-- Example of an icon -->
                {{ faq.question }}
                <i class="fas fa-chevron-down arrow" [ngClass]="{ 'active': faq.isOpen }"></i>
            </div>
            <div class="accordion__content" [ngStyle]="{ 'max-height': faq.isOpen ? faq.contentHeight : '0' }">
                <p>{{ faq.answer }}</p>
                <div class="feedback">
                    <span>Was this answer helpful?</span>
                    <i class="fas fa-thumbs-up"></i>
                    <i class="fas fa-thumbs-down"></i>
                </div>
            </div>
        </div>
    </div>
</section>