
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   /* // font-family: 'Roboto', Arial, sans-serif; */
}

::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
    height: 12px;
    /* Height of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #888 #00292f;
}

/* Testimonials Section Styles */
.testimonials {
    background-color: #f9f9f9;
    padding: 40px;
    text-align: center;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.testimonials h2 {
    color: #4caf50;
    margin-bottom: 20px;
    font-size: 2rem; /* Increased font size for the title */
}

.testimonial {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    margin: 15px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.testimonial p {
    font-style: italic;
    color: #555;
}

.testimonial strong {
    display: block;
    margin-top: 10px;
    color: #333;
}

/* Hover effect for testimonials */
.testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}


.profile-icon {

    border-radius: 50%;
    position: relative;
    margin-left: 20px; /* Adjust space between Login button and Profile icon */
  
  }
  
  .dropdown-menu {
  
    display: none;
    position: absolute;
    top: 35px; /* Adjust based on the height of your navbar */
    right: 0;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
  
  }
  
  .dropdown-menu a {
  
    display: block;
    padding: 10px 15px;
    text-decoration: none;
  
  }
  
  .dropdown-menu a:hover {
  
    background-color: #f1f1f1;
  
  }

  